.vscode
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
*.metadata.json
.awcache
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json
!demo-vue/app/app.js
demo-react/platforms
demo-react/lib
!src/vue/*.js
!/src/TNSCanvas.d.ts
!/src/TNSTextEncoder.d.ts
!/src/TNSCanvasRenderingContext2D.d.ts
!/src/TNSImageAsset.d.ts
!/src/CanvasGradient.d.ts
!/src/ImageData.d.ts
!/src/TNSPath2D.d.ts
!/src/TNSTextDecoder.d.ts
!/src/TNSWebGLRenderingContext.d.ts
!/src/TNSWebGL2RenderingContext.d.ts
!/src/TNSDOMMatrix.d.ts
!/src/TextMetrics.d.ts
!/src/TNSWebGLExtensions.d.ts
!/src/canvas-plugin.d.ts
